/* mobile: 375px
destok 1440px */

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

a {
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "outfit", sans-serif;
  font-weight: 300;
  background-color: var(--main-bg);
  color: var(--cyan);
  margin-top: 4rem;
  font-size: 1.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 40rem;
  box-shadow: 0.5rem 1rem 2rem #000;
  border-radius: 1rem;
  margin-bottom: 4rem;
  padding: 2rem;
}
.card-head {
  position: relative;
  width: 36rem;
  height: 33rem;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 3rem;
}

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  background-color: var(--cyan);
  transition: 0.3s ease;
}

.card-head-link {
  color: var(--white);
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}

.card-head:hover .overlay {
  opacity: 0.5;
}

.card-head-image {
  height: 100%;
  width: 100%;
}

.card-body-head {
  color: #faf9f6;
  margin-bottom: 2rem;
}

.card-body-head-link,
.card-body-head-link:link {
  text-decoration: none;
}

.card-body-head-link:hover,
.card-body-head-link:active {
  color: var(--cyan);
}

.card-body-text-1 {
  color: var(--line);
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.card-body-text-2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 0.2rem solid var(--line);
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.notification-eth {
  margin-left: 0.5rem;
}

.notification-clock {
  color: var(--line);
  margin-left: 0.5rem;
}

/* .card-body-text-2::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 90%;
  border-bottom: 0.2rem solid var(--line);
} */

.card-footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.card-footer-image {
  width: 4rem;
  border-radius: 50%;
  border: 2px solid var(--white);
}

.card-footer-text {
  margin-left: 1rem;
}

.card-footer-text-1 {
  color: var(--line);
  display: inline-block;
}

a.card-footer-text-2,
a.card-footer-text-2:link {
  color: var(--white);
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
}

.card-footer-text-2:hover {
  color: var(--cyan);
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 1.4rem;
    margin-top: 2rem;
  }

  .card {
    width: 30rem;
  }

  .card-head {
    width: 26rem;
    height: 22rem;
  }

  .notification-mid {
    font-size: 1.6rem;
  }

  .attribution {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: -2rem;
  }
}
